<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mRootDir" value="D:\Tools\AccessGen\" />
    <add key="mSrcDir" value="Src" />
    <add key="mOutDir" value="Output" />
    <add key="mDataSource" value="LIS.mdb" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>